# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- Commonly used libraries used by Data Scientists
- Tables
- Data Science Tools
- Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R
4. SQL
5. GO
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn
4. Numpy

|Data Science Tools|
|----------|
|RStudio|
|CSCode|
|Spyde|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Evgeniy